html{
    background-color: black;
    font-family: 'Roboto Mono', monospace;
}

h1{
    text-align: center;
    font-size: 75px;
    margin-top: 0%;
}

h2{
    font-size: 40px;
    border: solid black;
    border-width: 1px;
    width: 400px;
    outline-style: solid;
    outline-color: red;
}


h3{
    font-size: 30px;
    border: solid black;
    outline-style: solid;
    outline-color: purple;
    border-width: 1px;
    width: 300px;
}

p{
    font-size: 25px;
} 

h1,h2,h3,p{
    color: white;
}

h1{
    color: white;
}


img{
    max-width: 40%;
    max-height: auto;
}

a{
    text-decoration: none;
    color: red;
    margin-bottom: 20px;
}



.flex-item1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 400px;
}



@media(max-width:500px){
    .flex{
      flex-direction: column;
    }

    .flex-item1{
      flex-wrap: wrap;
      margin-bottom: 50px;
    }
    img{
        max-width: 100%;
    }

    .para{
        font-size: small;
    }
  }




  button{
    padding: 15px;
    background: #ff5361;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

button a{
    color: white;
}