html {
    background: url("https://i.imgur.com/YuzXBjL.jpg") no-repeat center fixed;
    background-size: cover;
   }

  .flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 350px;
  }

.flex-items{
    color: white;
    background-color: black;
    text-align: center;
    width: 450px;
}