html {
    background: url("https://i.imgur.com/YuzXBjL.jpg") no-repeat center fixed;
    background-size: cover;
   }

   .button{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    display: inline-block;
}


body{
    background-color: black;
}

p{
    color: white;
}